<% provide(:title, 'Home') %>
<h1>Welcome!</h1>
<%= link_to 'Create a new User', new_user_path %>
<%= link_to 'List all Users', controller: 'users' %>
<%= link_to 'Create a new Micropost', new_micropost_path %>
<%= link_to 'List all Microposts', controller: 'microposts' %>